<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--<connectionStrings>
		<add name="NBLSystem" connectionString="Integrated Security=True;Persist Security Info=False;Initial Catalog=NBLSystem;Data Source=JUBUREBA;" providerName="System.Data.SqlClient"/>
		<add name="NBLSystem" providerName="System.Data.SqlClient" connectionString="Data Source=JUBUREBA-PC;Initial Catalog=NBLSystem;Integrated Security=True"/>
	</connectionStrings>-->

	
	
	<connectionStrings>
		<add name="NBLSystem" connectionString="Server=JUBUREBA-PC\MSSQLSERVER01;Database=NBLSystem;integrated security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
